## SAR Frequency Tables: May 2021 
<p> Prepared By Analyst 134 </p> 
<p> Date: June 28th 2021 </p> 
<p> Purpose: Frequency Tables for SAR Reports in Pervious Month </p> 
<p> Data Source: Netsential Data Pull for May </p>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import datetime
import re

In [2]:
# import data csv 
file = r'./Data For Python/Netessential.csv'
pd.set_option('display.max_columns', None)
SAR = pd.read_csv(file)
SAR.head()

,FormTimeStamp,NSTrackingNumber,NSFormName,FirstName,LastName,AgencyOrganization,AgencyOrganizationNameOther,PhoneNumber,EmailAddress,IncidentDate,IncidentTime,CaseNumber,Subjects,SubjectIdentification,Address,City,County,BriefSummary,Disposition
0,5/30/2021 12:38,202100157,SAR-Public,NaN,NaN,NaN,NaN,646-372-5809,sarahlavigne@me.com,5/30/2021,11:15 AM,NaN,NaN,NaN,1424 E. 14th Ave 14th ave between Lafayette an...,Denver,Denver,"I saw a 6'1 man with a marron coat, white or b...",The incident occurred in Denver D6. The SAR wa...
1,5/28/2021 13:44,202100156,SAR-Public,NaN,NaN,NaN,NaN,336-817-1593,NaN,5/28/2021,11:10am,NaN,NaN,NaN,8131 E Colorado ave,Denver,Denver,Four men in a silver/blue sedan approached me ...,Forwarded to District 3 analyst. No record on ...
2,5/27/2021 10:53,202100155,SAR-FOUO,Christopher,Powell,SCL Health - -,NaN,720-899-2592,christopher.powell@sclhealth.org,5/15/2021,1738pm,SCL Health St Joseph Hospital,Unknown,early 40s Caucasian female,1375 E 19th Ave,Denver,Denver,A early 40s Caucasian female in black frame gl...,Forwarded to District 6 analyst for awareness ...
3,5/27/2021 10:39,202100154,SAR-FOUO,Christopher,Powell,SCL Health - -,NaN,720-899-2592,christopher.powell@sclhealth.org,5/25/2021,0346 am,SCL Health MSC Infant Abduction Probe,Umkown,30s y/o Caucasian female.,1830 Franklin St,Denver,Denver,A Caucasian female late 20s early 30s enter th...,Forwarded to DPD District 6 analyst for awaren...
4,5/24/2021 22:02,202100153,SAR-Public,NaN,NaN,NaN,NaN,NaN,NaN,5/24/2021,9:00 AM,NaN,NaN,NaN,"Hampden Ave, Suite 202, Denver, 80231.",Denver,Denver,Female asian massage therapists provide massag...,Sent to District 3 Analysis.

In [4]:
# Replace NaN values in columns 
SAR = SAR.replace(np.nan, '', regex=True)

In [146]:
# Lets try to convert many columns from object to data time 
# Remove pm from all incident time column
SAR = SAR.astype({'FormTimeStamp':'datetime64', 'IncidentDate':'datetime64'})

In [147]:
# lets split the FormTimeStamp into two seperate columns 
# we want to do this so we can understand the difference between
# the date the SAR was reported and the date of the incident in question 
SAR['new_date'] = [d.date() for d in SAR['FormTimeStamp']]
SAR['new_time'] = [d.time() for d in SAR['FormTimeStamp']]

In [149]:
# Move new_date to first place in table
cols = list(SAR)
cols.insert(0, cols.pop(cols.index('new_date')))
SAR = SAR.loc[:, cols]

In [150]:
# Move new_time to 2 place in table
cols = list(SAR)
cols.insert(2,cols.pop(cols.index('new_time')))
SAR = SAR.loc[:, cols]

In [151]:
# add a new column that gets the difference from IncidentDate to new_date 
SAR = SAR.astype({'new_date':'datetime64'})
SAR['Date_Length'] = (SAR['new_date'] - SAR['IncidentDate']).dt.days

### Frequency Tables

#### SAR Type

In [137]:
# Form Type Frequecy Information 
#Get Counts 
ftype = pd.crosstab(SAR.NSFormName, columns ='count')
#Get percentages 
ftype['percent'] = (ftype['count'] / ftype['count'].sum()) * 100
#Format your percentages so you have two decimal places. 
ftype['percent'] = ftype['percent'].map('{:,.2f}%'.format)
#print your Datframe 
ftype

col_0       count percent
NSFormName
SAR-FOUO        6  23.08%
SAR-LES         5  19.23%
SAR-Public     15  57.69%

#### Agency Organization

In [138]:
# Form Type Frequecy Information 
#Get Counts 
agency = pd.crosstab(SAR.AgencyOrganization, columns ='count')
#Get percentages 
agency['percent'] = (agency['count'] / agency['count'].sum()) * 100
#Format your percentages so you have two decimal places. 
agency['percent'] = agency['percent'].map('{:,.2f}%'.format)
#print your Datframe 
agency

col_0                               count percent
AgencyOrganization
                                       15  57.69%
Advantage Security Inc.                 1   3.85%
CIAC                                    3  11.54%
Colorado State Patrol / CIAC            1   3.85%
Denver Water                            1   3.85%
Empire Police Department                1   3.85%
Nederland Fire Protection District      1   3.85%
RTD Transit Police Division             1   3.85%
SCL Health -  -                         2   7.69%

#### Geographic Informatiobn: Cities and Counties

In [139]:
# Cities metioned in SAR reports
# Get counts 
cities = pd.crosstab(SAR.City, columns ='count')
#Get percentages 
cities['percent'] = (cities['count'] / cities['count'].sum()) * 100
#Format your percentages so you have two decimal places. 
cities['percent'] = cities['percent'].map('{:,.2f}%'.format)
#print your Datframe 
cities

col_0                  count percent
City
                           1   3.85%
Centennial                 2   7.69%
Colorado Springs           1   3.85%
Commerce City              2   7.69%
Denver                    14  53.85%
Kittredge                  1   3.85%
Littleton                  1   3.85%
Littleton and Boulder      1   3.85%
Moffat                     1   3.85%
Nederland                  1   3.85%
Pueblo                     1   3.85%

In [140]:
# Counties Mentioned in SAR  Reports 
counties = pd.crosstab(SAR.County, columns ='count')
#Get percentages 
counties['percent'] = (counties['count'] / counties['count'].sum()) * 100
#Format your percentages so you have two decimal places. 
counties['percent'] = counties['percent'].map('{:,.2f}%'.format)
#print your Datframe 
counties
# Denver is split up twice, not sure why rght now.

col_0       count percent
County
                6  23.08%
.Statewide      1   3.85%
Adams           1   3.85%
Boulder         1   3.85%
Denver          5  19.23%
Denver          8  30.77%
El Paso         1   3.85%
Jefferson       1   3.85%
Pueblo          1   3.85%
Saguache        1   3.85%

### Time Difference and Number of Reports Per Day

#### Number of Reports Per Day

In [141]:
# Number of Reports Per day in May 
reports_day = pd.crosstab(SAR.new_date, columns ='count')
#Get percentages 
reports_day['percent'] = (reports_day['count'] / reports_day['count'].sum()) * 100
#Format your percentages so you have two decimal places. 
reports_day['percent'] = reports_day['percent'].map('{:,.2f}%'.format)
#print your Datframe 
reports_day

col_0       count percent
new_date
2021-05-03      1   3.85%
2021-05-05      1   3.85%
2021-05-06      1   3.85%
2021-05-07      2   7.69%
2021-05-09      1   3.85%
2021-05-10      1   3.85%
2021-05-11      1   3.85%
2021-05-12      5  19.23%
2021-05-14      2   7.69%
2021-05-17      1   3.85%
2021-05-20      1   3.85%
2021-05-21      1   3.85%
2021-05-22      1   3.85%
2021-05-24      3  11.54%
2021-05-27      2   7.69%
2021-05-28      1   3.85%
2021-05-30      1   3.85%

#### Difference Between Incident Date and SAR Report

In [142]:
length = pd.crosstab(SAR.Date_Length, columns ='count')
#Get percentages 
length['percent'] = (length['count'] / length['count'].sum()) * 100
#Format your percentages so you have two decimal places. 
length['percent'] = length['percent'].map('{:,.2f}%'.format)
#print your Datframe 
length

col_0        count percent
Date_Length
0               16  61.54%
1                7  26.92%
2                1   3.85%
12               1   3.85%
19               1   3.85%

## Related Columns Frequencies 
<p> Date_Length column, denotes the difference between The day of the incident and the day the SAR was filled out.</p>

In [144]:
# SAR.value_counts(["Date_Length", "NSFormName"])
pd.crosstab(SAR.Date_Length,SAR.NSFormName)

NSFormName   SAR-FOUO  SAR-LES  SAR-Public
Date_Length
0                   3        3          10
1                   1        2           4
2                   1        0           0
12                  1        0           0
19                  0        0           1

### Description Keywords: Brief Summary Column
<p> The SAR report data pull had a column of brief summary that allows analysts and the public to expand further on the incident they are reporting. </p>

In [4]:
print("Threats Mentioned In Brief Summary Column")

Threats Mentioned In Brief Summary Column

In [7]:
print("Keyword: Threat")
SAR.BriefSummary.str.count("threat").sum()

Keyword: Threat

3

In [14]:
print("Keyword: Drugs")
SAR.BriefSummary.str.count("drugs").sum()

Keyword: Drugs

1

In [17]:
print("Keyword: Man")
SAR.BriefSummary.str.count("man").sum()
# SAR.BriefSummary.str.count("Woman").sum()

Keyword: Man or Woman

27

In [32]:
print("Keyword: Woman")
SAR.BriefSummary.str.count("woman").sum()

Keyword: Woman

6

In [34]:
print("Keyword: Caucasion Female" )
SAR.BriefSummary.str.count("Caucasian female").sum()

Keyword: Caucasion Female

2

### Description Keywords: Disposition Column
<p> The SAR report data pull had a column of Disposition that allows analysts to proivide information about what happens after the SAR has been filed. </p>

In [27]:
# change the dtype of the column of Disposition 
# SAR = SAR.astype({'Disposition':'string'})
# SAR.Disposition

In [1]:
print("Words Denoting movement from the CIAC to another agency")

Words Denoting movement from the CIAC to another agency

In [23]:
#freq = SAR.groupby(['Disposition']).count()
#freq
print("Keyword: Forwarded")
SAR.Disposition.str.count("Forwarded").sum()

Keyword: Forwarded

10.0

In [9]:
# Count from Column 
print("Keyword: Emailed")
SAR.Disposition.str.count("Emailed").sum()

Keyword: Emailed

2.0

In [11]:
print("Keyword: Sent")
SAR.Disposition.str.count("Sent").sum()

Keyword: Sent

2.0

In [13]:
print("Keyword: Passed")
SAR.Disposition.str.count("Passed").sum()

Keyword: Passed

2.0

In [14]:
print("Keyword: Shared")
SAR.Disposition.str.count("shared").sum()

Keyword: Shared

4.0

In [22]:
print("Words denoting the receiving agency")

Words denoting the receiving agency

In [21]:
print("Keyword: DPD")
SAR.Disposition.str.count("DPD").sum()

Keyword: DPD

8.0

In [16]:
print("Keyword: Denver")
SAR.Disposition.str.count("Denver").sum()

Keyword: Denver

4.0

In [17]:
print("Keyword: County")
SAR.Disposition.str.count("County").sum()

Keyword: County

8.0

In [18]:
print('Keyword: District')
SAR.Disposition.str.count("District").sum()

Keyword: District

7.0

### Analysis of Keywords
<p> An analysis of keywords in the column labled Disposition revelead the following: </p> 
<p> Words that suggested that a SAR was given to a LE Agency: 20 </p>  
<p> Words that denoted which agency the SAR was given to: 22 </p> 
<p> Key Takeaway: There is no standard for reporting what happened after a SAR was taken.</p>
<p> In some cases a sentence may include the words sent and Denver in the same row in the dataset. </p>
<p> So there is some possible duplication of counts. </p>
<p> Some analysts write out DPD District 6 while others just write out District 6.</p>
<p> Going forwarding identifying which words to look for would be helpful for future reports.</p>